.body{
  position:relative;
}
.header{
  width:100%;
  height:70px;
  font-size:20px;
  line-height:70px;
}
.header01{
  float:left;
  width:150px;
  height:69px;
  border:1px solid #fff;
  background-color:#ee0000;
  color:#fff;
}
.header02{
  float:right;
  width:100px;
  height:69px;
  border:1px solid #fff;
  color:#ee0000;
  background-color:#fff;
}
.nav{
  z-index:1000;
  position:sticky;
  top:0;
  left:0;
  position:relative;
  width:100%;
  height:80px;
  background-color:#aaa; 
  line-height:80px;
}
.wrap{
  width:1180px;
  margin:0 auto;
}
.nav li{
  float:left;
  width:245px;
  height:85px;
}
.nav li:hover{
  background:url("images/.jpg") no-repeat;
}
.nav li:hover>a{
  background-color:#ffff00;
  color:#000;
}
.nav li:hover span{
  color:#ffff00;
}
.li1{
  color:#000;
  background:url("images/.jpg") no-repeat;
}
.li1>a{
  color:#000;
}
.nav a{
  text-align:center;
  color:#fff;
  font-size:20px;
}
.nav span{
  font-size:15px;
  margin-left:1px;
}

.nav-list1{
  z-index:100;
  display:none;
  position:absolute;
  left:0;
  top:80px;
  width:100%;
  height:200px;
  background:url("images/.jpg") no-repeat;
}
.nav li:hover>.nav-list{
  display:block;
}

.banner{
  position:relative;
  top:-5px;
  width:100%;
  height:800px;
  overflow:hidden;
}
.banner>img{
  position:absolute;
  left:50%;
  margin-left:-900px;
}

.container{
  width:1180px;
  margin:50px auto 0;
}
.world01{
  width:100%;
  height:500px;
  margin-bottom:70px;
}
.world01-title{
  width:55px;
  height:150px;
  background:url("images/.jpg") no-repeat;
}
.world01-box{
  position:relative;
  width:100%;
  height:330px;
  background:url("images/.jpg") no-repeat;
}
.world01-box>a{
  position:absolute;
  top:0;
  width:500px;
  height:160px;
}
.world01-box>a:first-child{
  left:0;
}
.world01-box>asecond-child{
  right:0;
}
.world01-box>a:first-child>img{
  position:relative;
}
.world01-box>a:second-child>img{
  position:relative;
}
