body,div,dl,dt,dd,ul,ol,il,h1,h2,h3,h4,h5,h6,pre,form,fieldsed,input,textarea,button,p,blockcuote,th,td{
  margin:0;
  padding:0;
}
a{
  text-decoration:none
}
img{
  vertical-align:middle
}
body{
  text-align:center
}
