#container{
  width:600px;
  height:300px;
  border:black solid 20px;
  margin:0 auto;
}
#container>div{
  width:300px;
  height:300px;
  float:left;
}
#mine{
  background-color: #66ccff;
}
#computer{
  background-color: #00ffcc;
}
#computerChoice>IMG{
  transform: scaleX(-1);
}
h1{
  margin-top:0;
  text-align: center;
}
#demo{
  text-align:center;
  font-size:20px;
  color:#39c8bb
}
#k1{
  width:700px
}
#container>#result{
  margin-top:10px
  font-size: 50px;
  width:600px;
  height:100px
  text-align: center;
}
